@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --backgroud: 0% 100%;
    --foreground: 220 13% 13%;

    --card: 0% 100%;
    --card-foreground: 220 13% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 13%;

    --primary: 0, 83%, 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 220 13% 13%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 220 9% 46%;

    --accent: 0, 83%, 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0, 83%, 53%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 0, 91%, 60%;
  }
}

  .dark {
    --background: 220 26% 14%;
    --foreground: 210 40% 98%;

    --card: 220 23% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 220 23% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 0, 83%, 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 17% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 17% 25%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0, 83%, 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 17% 25%;
    --input: 220 17% 25%;
    --ring: 0, 83%, 53%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0, 76%, 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 0, 91%, 60%;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}



/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

/* @layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(220 13% 13%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(220 13% 13%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(220 13% 13%);

    --primary: hsl(0, 83%, 53%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(220 13% 13%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(220 9% 46%);

    --accent: hsl(0, 83%, 53%);
    --accent-foreground: hsl(0 0% 100%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 100%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(0, 83%, 53%);

    --radius: 0.5rem;

    --sidebar-background: hsl(0 0% 98%);

    --sidebar-foreground: hsl(240 5.3% 26.1%);

    --sidebar-primary: hsl(240 5.9% 10%);

    --sidebar-primary-foreground: hsl(0 0% 98%);

    --sidebar-accent: hsl(240 4.8% 95.9%);

    --sidebar-accent-foreground: hsl(240 5.9% 10%);

    --sidebar-border: hsl(220 13% 91%);

    --sidebar-ring: hsl(0, 91%, 60%);
  }

  .dark {
    --background: hsl(220 26% 14%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(220 23% 18%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(220 23% 18%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(0, 83%, 53%);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: hsl(220 17% 25%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(220 17% 25%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(0, 83%, 53%);
    --accent-foreground: hsl(0 0% 100%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(220 17% 25%);
    --input: hsl(220 17% 25%);
    --ring: hsl(0, 83%, 53%);
    --sidebar-background: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(0, 76%, 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(0, 91%, 60%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */
